@import "partials/variables";
@import "partials/box";

$sidebar-width: 12rem;

#sidebar {
  width: $sidebar-width;
  float: left;
}

#user-form {
  margin-left: $sidebar-width + 2rem;

  h3 {
    margin-bottom: 1rem;
    &:not(:first-child) {
      margin-top: 4rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  #sidebar {
    width: 100%;
    float: none;
    margin-bottom: 1rem;
  }

  #user-form {
    margin: 0;
  }
}
