@import "partials/variables";
@import "partials/box";

body {
  padding: 10vh 0;
}

.logo {
  width: 15rem;
  margin: 2rem auto;
  display: block;
}

.login .box {
  max-width: 24rem;
  margin: 0 auto;
}

.meta {
  text-align: center;
  max-width: 24rem;
  margin: 1.5rem auto 0 auto;
}

@media screen and (max-height: 750px) {
  body {
    padding: 0;
  }
}
