.box{background:#fff;border-radius:.25rem;box-shadow:0 .1rem .1rem rgba(39,47,51,.05);padding:3rem;margin-bottom:2rem}
.box>:last-child{margin-bottom:0}
@media (max-width:767px){
.box{padding:2rem}
}
@media (max-width:575px){
.box{padding:1.5rem}
}
#sidebar{width:12rem;float:left}
#user-form{margin-left:14rem}
#user-form h3{margin-bottom:1rem}
#user-form h3:not(:first-child){margin-top:4rem}
@media (max-width:767px){
#sidebar{width:100%;float:none;margin-bottom:1rem}
#user-form{margin:0}
}