.box{background:#fff;border-radius:.25rem;box-shadow:0 .1rem .1rem rgba(39,47,51,.05);padding:3rem;margin-bottom:2rem}
.box>:last-child{margin-bottom:0}
@media (max-width:767px){
.box{padding:2rem}
}
@media (max-width:575px){
.box{padding:1.5rem}
}
body{padding:10vh 0}
.logo{width:15rem;margin:2rem auto;display:block}
.login .box,.recover-password .box{max-width:24rem;margin:0 auto}
.meta{text-align:center;max-width:24rem;margin:1.5rem auto 0 auto}
@media screen and (max-height:750px){
body{padding:0}
}